name: Cleanup Cache
on:
  workflow_dispatch: {}
jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6
    - name: Cleanup
      run: "gh extension install actions/gh-actions-cache\n\nREPO=${{ github.repository\
        \ }}\n\necho \"Fetching list of cache key\"\ncacheKeysForPR=$(gh actions-cache\
        \ list -R $REPO | cut -f 1 )\n\n## Setting this to not fail the workflow while\
        \ deleting cache keys. \nset +e\necho \"Deleting caches...\"\nfor cacheKey\
        \ in $cacheKeysForPR\ndo\n    gh actions-cache delete $cacheKey -R $REPO --confirm\n\
        done\necho \"Done\"\n"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
