name: Hugging Face Issue Labeler
on:
  workflow_dispatch: {}
jobs:
  triage:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v6
    - uses: August-murr/auto-labeler@0.0.1
      with:
        hf-api-key: ${{ secrets.CI_HF_API_TOKEN }}
